node_modules# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env

# macOS system file
.DS_Store

# build outputs
dist/
build/

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
package.json
